.offcanvas-enter {
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
}
.offcanvas-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.25s all ease-in-out;
}

.offcanvas-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.offcanvas-exit-active {
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  transition: 0.25s all ease-in-out;
}
